<div class="container">
  <h1><%= @restaurant.name %></h1>
  <hr>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
  <p><%= @review.content %></p>
  <hr>
  <%= link_to "Back", restaurants_path %>
</div>
